<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-4">
      <%= simple_form_for person do |f| %>
      <% if person.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

          <ul>
            <% person.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :goal %>
      <%= f.input :last_name %>
      <%= f.input :first_name %>
      <%#= f.input :birth_date, as: :date %>
      <%= f.input :birth_date, as: :date, start_year: Date.today.year - 90,
                  end_year: Date.today.year - 12,
                  html5: true,
                  order: [:year, :month] %>
      <%= f.input :height %>
      <%= f.input :weight %>
      <%= f.input :body_fat %>
      <%= f.button :submit, '更新', class: 'btn btn-primary' %>
    <% end %>
    </div>
  </div>
</div>