<div id="<%= dom_id person %>">

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-3">
        <div class="card" >
          <span class="m-1" style="text-align: center;">
            <% if false # TODO:ユーザの画像があれば表示 %>
              <img class="m-1" src="..." class="card-img-top" alt="...">
            <% else # default icon%>
              <%= image_tag('person-square.svg', class: 'm-1', style: 'height: 7em')  %>
            <% end %>
          </span>
          <div class="card-body mb-3">
            <h5>目標</h5>
            <p class="card-text">
              2020年4月9日までに75キロ未満にする！
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card" >
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'name' %></h6>
              <span class="text-secondary"><%= person.name %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'age' %></h6>
              <span class="text-secondary"><%= person.age %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'height' %></h6>
              <span class="text-secondary"><%= person.height %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'weight' %></h6>
              <span class="text-secondary"><%= person.weight %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'body_fat' %></h6>
              <span class="text-secondary"><%= person.body_fat %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'bmi' %></h6>
              <span class="text-secondary"><%= format("%.2f", person.bmi) %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'fat_level' %></h6>
              <span class="text-secondary"><%= fat_level(person) %></span>
            </li>
          </ul>
          <div class="row m-2">
            <div class="col-2">
              <%= button_to t('edit'), edit_person_path(@person), method: :get, class: 'btn btn-info' %>
            </div>
            <% if false # 確認ダイアログが実装できるまで非表示%>
              <div class="col-2 offset-8">
                <%= button_to t('delete'), @person, method: :delete, class: 'btn btn-danger'  %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to "Back to people", people_path %>
