<div id="<%= dom_id person %>">

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-3">
        <div class="card" >
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body mb-3">
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card" >
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'name' %></h6>
              <span class="text-secondary"><%= person.name %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'age' %></h6>
              <span class="text-secondary"><%= person.age %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'height' %></h6>
              <span class="text-secondary"><%= person.height %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'weight' %></h6>
              <span class="text-secondary"><%= person.weight %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'body_fat' %></h6>
              <span class="text-secondary"><%= person.body_fat %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'bmi' %></h6>
              <span class="text-secondary"><%= format("%.2f", person.bmi) %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><%= t 'fat_level' %></h6>
              <span class="text-secondary"><%= fat_level(person) %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to "Back to people", people_path %>
