<div id="<%= dom_id person %>">
  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= person.birth_date %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= person.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= person.weight %>
  </p>

  <p>
    <strong>Body fat:</strong>
    <%= person.body_fat %>
  </p>

</div>
